{% extends "layout.html"%}

{% block content %}


	<!-- Supercategories and Categories list filter menu (fm)-->
	<div class="row mt-3">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-6">
			<div class="row mb-3">
				<div class="col-sm-12">
					<input list="categoriesList" id="fm-tb" placeholder="Search categories" class="btn btn-block">
					<datalist id="categoriesList">
						{% for _, categories in data.items()%}
							{% for category in categories%}
								<option name="fm-cat-dl" value={{category.name}}>
							{% endfor %}
						{% endfor %}
					</datalist>
				</div>
				
			</div>
			<div class="row mb-3">
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
						{% for key, _ in data.items()%}
							<li class="nav-item">
								<input type="button" name="fm-sc" value="{{key}}" data-target="#{{key}}" class="btn btn-outline-primary btn-sm m-1" data-toggle="tab">
							</li>
						{% endfor%}
					</ul>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-sm-12 tab-content">
					{% for key, categories in data.items() %}
						<div class="tab-pane fade" id="{{key}}">
							{% for category in categories%}
								<label class="nav-item mr-1">
									<button class="btn btn-primary" name="fm-cat-btn" value="{{category.color}}">{{category.name}}</button>
									<!-- <input type="button" name="fm-cat" value="{{category.color}}">{{category.name}} -->
								</label>
							{% endfor %}
						</div>
					{% endfor%}
				</div>
			</div>

			<!-- Filters Selected  -->
			<div class="row mb-3">
				<div class="col-sm-12">
					<h5 class="content-justify-center">Filters: </h5>
					<ul id="fm-fl">

					</ul>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col-sm-12">
					<button id="fm-search" class="btn btn-lg btn-success">Search</button>
				</div>
			</div>

		</div>
		<div class="col-sm-3">
			
		</div>
		
	</div>
	


	<!-- Gallery of Videos fetched -->
	<hr>

	<div class="row" id="gallery">
			<div class="col-3">
				
			</div>
			<div class="col-3">
				
			</div>
			<div class="col-3">
				
			</div>
			<div class="col-3">
				
			</div>
	</div>



	<!-- modal window -->
	<div class="modal fade" id="mw" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content" id="mw-ct">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
			        <button type="button" class="close" data-dismiss="modal">
			          	<span >&times;</span>
			        </button>
				</div>

				<div class="modal-body">
					<video controls autoplay>
						<source src="" type="video/mp4">
					</video>
				</div>
	
				<div class="modal-footer">
					<span>Categories</span>
				</div>	
			</div>
		</div>
	</div>



	<!-- Loading js -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/dom-loader.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}